{% extends 'baseLogin.html.twig' %}

{% block body %}


    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <img class="nav-user-photo"
                                     src="https://d7ieeqxtzpkza.cloudfront.net/wp-content/uploads/2019/02/logo-tranparent-cni1.png"
                                     alt="logo CNI" height="50" width="50"/>
                                <span class="text-warning white">Gestion</span>
                                <span class="text-warning white">des</span>
                                <span class="white" id="id-text2">contrats</span>
                            </h1>
                            <h4 class="white" id="id-company-text">CNI</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="fa fa-user"></i>
                                            Veuillez entrer vos informations
                                        </h4>

                                        <div class="space-6"></div>

                                        <form method="post">
                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}

                                            {% for message in app.flashes('error') %}
                                                <div class="alert alert-danger">{{ message }}</div>
                                            {% endfor %}

                                            {% for message in app.flashes('success') %}
                                                <div class="alert alert-success">{{ message }}</div>
                                            {% endfor %}

                                            {% if app.user %}
                                                <div class="mb-3">
                                                    You are logged in as {{ app.user.username }}, <a
                                                            href="{{ path('app_logout') }}">Logout</a>
                                                </div>
                                            {% endif %}
                                            <fieldset>

                                                <label class="block clearfix" for="inputEmail">Email</label>
                                                <input type="email" value="{{ last_username }}" name="email"
                                                       id="inputEmail" class="form-control"
                                                       placeholder="Entrer votre e-mail" required autofocus>
                                                <label for="inputPassword">Mot de passe</label>
                                                <input type="password" name="password" id="inputPassword"
                                                       class="form-control" placeholder="******" required>

                                                <input type="hidden" name="_csrf_token"
                                                       value="{{ csrf_token('authenticate') }}">
                                                <br>
                                                <button class="btn btn-lg btn-primary" type="submit">
                                                    S'identifier
                                                </button>
                                                <a href="{{ path('app_new_password') }}" class="red" style="font-size: 12px;margin-left: 20px;">
                                                    Mot de passe oublié ?
                                                </a>
                                            </fieldset>
                                        </form>


                                        <div class="social-or-login center">

                                        </div>

                                        <div class="space-6"></div>

                                        <div class="social-login center">


                                        </div>
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar clearfix">
                                        <div>
                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">

                                            </a>
                                        </div>

                                        <div>
                                            <a href="#" data-target="#signup-box" class="user-signup-link">

                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->

                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Retrieve Password
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>
                                            Enter your email and to receive instructions
                                        </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control"
                                                                   placeholder="Email"/>
															<i class="ace-icon fa fa-envelope"></i>
														</span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="button"
                                                            class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Send Me!</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            Back to login
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.forgot-box -->

                            <div id="signup-box" class="signup-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            New User Registration
                                        </h4>

                                        <div class="space-6"></div>
                                        <p> Enter your details to begin: </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control"
                                                                   placeholder="Email"/>
															<i class="ace-icon fa fa-envelope"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control"
                                                                   placeholder="Username"/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
                                                                   placeholder="Password"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
                                                                   placeholder="Repeat password"/>
															<i class="ace-icon fa fa-retweet"></i>
														</span>
                                                </label>

                                                <label class="block">
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl">
															I accept the
															<a href="#">User Agreement</a>
														</span>
                                                </label>

                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">Reset</span>
                                                    </button>

                                                    <button type="button"
                                                            class="width-65 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">Register</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Back to login
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                        </div><!-- /.position-relative -->

                        <div class="navbar-fixed-top align-right">
                            <br/>
                            &nbsp;
                            <a id="btn-login-dark" href="#">Dark</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-blur" href="#">Blur</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-light" href="#">Light</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->



    {# <form method="post"> #}
    {# {% if error %} #}
    {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
    {# {% endif %} #}

    {# {% if app.user %} #}
    {# <div class="mb-3"> #}
    {# You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a> #}
    {# </div> #}
    {# {% endif %} #}

    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
    {# <label for="inputEmail">Email</label> #}
    {# <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus> #}
    {# <label for="inputPassword">Password</label> #}
    {# <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required> #}

    {# <input type="hidden" name="_csrf_token" #}
    {# value="{{ csrf_token('authenticate') }}" #}
    {# > #}

    {# #}{# #}
    {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
    {# See https://symfony.com/doc/current/security/remember_me.html #}

    {# <div class="checkbox mb-3"> #}
    {# <label> #}
    {# <input type="checkbox" name="_remember_me"> Remember me #}
    {# </label> #}
    {# </div> #}
    {# #}

    {# <button class="btn btn-lg btn-primary" type="submit"> #}
    {# Sign in #}
    {# </button> #}
    {# </form> #}



{% endblock %}
