{% extends 'baseLogin.html.twig' %}

{% block body %}


    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <img class="nav-user-photo"
                                     src="https://d7ieeqxtzpkza.cloudfront.net/wp-content/uploads/2019/02/logo-tranparent-cni1.png"
                                     alt="logo CNI" height="50" width="50"/>
                                <span class="text-warning white">Gestion</span>
                                <span class="text-warning white">des</span>
                                <span class="white" id="id-text2">contrats</span>
                            </h1>
                            <h4 class="white" id="id-company-text">CNI</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="fa fa-user"></i>
                                            Veuillez entrer votre adresse e-mail pour envoyer un nouveau mot de passe
                                        </h4>

                                        <div class="space-6"></div>
                                        <fieldset>
                                            {{ form_start(form) }}
                                            {{ form_widget(form) }}
                                            <br>
                                            <button class="btn">Envoyer</button>
                                            {{ form_end(form) }}
                                            <br>
                                            <a href="{{ path('app_login') }}">
                                                Retour
                                            </a>
                                        </fieldset>
                                    </div><!-- /.widget-main -->
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->
                        </div><!-- /.position-relative -->

                        <div class="navbar-fixed-top align-right">
                            <br/>
                            &nbsp;
                            <a id="btn-login-dark" href="#">Dark</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-blur" href="#">Blur</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-light" href="#">Light</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->




{% endblock %}
