{#<form method="post" action="{{ path('convention_delete', {'id': convention.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ convention.id) }}">#}
{#    <button class="btn">Delete</button>#}
{#</form>#}

<form method="post" action="{{ path('convention_delete', {'id': convention.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ convention.id) }}">
    <a class="red">
        <button style="border: none; background: none;">
            <i class="ace-icon fa fa-trash-o bigger-130"></i>
        </button>
    </a>
</form>
