{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="{{ path('convention_index_createdAndNotValidated') }}">Accueil</a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>
            <br>
            <div class="page-content">
                <div class="page-header">
                    <h1> Conventions </h1>
                    <br>
                    <a class="btn btn-danger" href="{{ path('convention_new') }}">Ajouter</a>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <h1> Conventions en cours </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <form class="form-search">
                                <span class="input-icon">
                                    <input class="form-control navbar-search-input" id="myInpute" type="text"
                                           placeholder="Rechercher" aria-label="search" aria-describedby="search">
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                        </form>
                        <div>
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>Titre du projet</th>
                                    <th>Client</th>
                                    <th>Montant estimatif (Dt)</th>
                                    <th>Montant facture (Dt)</th>
                                    <th>Date de signature</th>
                                    <th>Début de travaux</th>
                                    <th>Fin des travaux</th>
                                    <th>État</th>
                                    <th>Nombre de revues</th>
                                    <th></th>

                                </tr>
                                </thead>

                                <tbody id="hello">
                                {% for convention in createdConventions %}
                                    <tr>
                                        <td>{{ convention.projectTitle }}</td>
                                        <td>{{ convention.client.name }}</td>
                                        <td>{{ convention.estimatedAmount }}</td>
                                        <td>{{ convention.invoiceAmount }}</td>
                                        <td>{{ convention.signatureDate ? convention.signatureDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ convention.workStartDate ? convention.workStartDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ convention.workEndDate ? convention.workEndDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td class="hidden-480">
                                            <span class="label label-sm label-info">En cours</span>
                                        </td>
                                        <td>{{ convention.notes.count }}</td>

                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a class="blue"
                                                           href="{{ path('convention_show', {'id': convention.id}) }}">
                                                            <i class="ace-icon fa fa-eye bigger-130"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a style="margin-left: 5px;" class="green"
                                                           href="{{ path('convention_edit', {'id': convention.id}) }}">
                                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                        </a>
                                                    </td>
                                                    {% if(convention.notes.count == 0) %}
                                                        <td>
                                                            {{ include('convention/_delete_form.html.twig') }}
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="14">Liste vide!</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer no-margin-top">
                            <ul class="pagination pull-right no-margin">
                                <li class="prev disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li class="next disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

                <div class="row">
                    <div class="col-xs-12">
                        <h1> Conventions validés </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <form class="form-search">
                                <span class="input-icon">
                                    <input class="form-control navbar-search-input" id="myInpute2" type="text"
                                           placeholder="Rechercher" aria-label="search" aria-describedby="search">
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                        </form>
                        <div>
                            <table id="dynamic-table2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>Titre du projet</th>
                                    <th>Client</th>
                                    <th>Montant estimatif (Dt)</th>
                                    <th>Montant facture (Dt)</th>
                                    <th>Date de signature</th>
                                    <th>Début de travaux</th>
                                    <th>Fin des travaux</th>
                                    <th>État</th>
                                    <th></th>

                                </tr>
                                </thead>

                                <tbody id="hello2">
                                {% for convention in validatedConventions %}
                                    <tr>
                                        <td>{{ convention.projectTitle }}</td>
                                        <td>{{ convention.client.name }}</td>
                                        <td>{{ convention.estimatedAmount }}</td>
                                        <td>{{ convention.invoiceAmount }}</td>
                                        <td>{{ convention.signatureDate ? convention.signatureDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ convention.workStartDate ? convention.workStartDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ convention.workEndDate ? convention.workEndDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td class="hidden-480">
                                            <span class="label label-sm label-success">Validé</span>
                                        </td>

                                        <td>
                                            <a class="blue"
                                               href="{{ path('convention_show', {'id': convention.id}) }}">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="14">Liste vide!</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer no-margin-top">
                            <ul class="pagination pull-right no-margin">
                                <li class="prev disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li class="next disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->


                <div class="row">
                    <div class="col-xs-12">
                        <h1> Conventions non validés </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <form class="form-search">
                                <span class="input-icon">
                                    <input class="form-control navbar-search-input" id="myInpute3" type="text"
                                           placeholder="Rechercher" aria-label="search" aria-describedby="search">
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                        </form>
                        <div>
                            <table id="dynamic-table2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>Titre du projet</th>
                                    <th>Client</th>
                                    <th>Montant estimatif (Dt)</th>
                                    <th>Montant facture (Dt)</th>
                                    <th>Date de signature</th>
                                    <th>Début de travaux</th>
                                    <th>Fin des travaux</th>
                                    <th>État</th>
                                    <th></th>

                                </tr>
                                </thead>

                                <tbody id="hello3">
                                {% for convention in notValidatedConventions %}
                                    <tr>
                                        <td>{{ convention.projectTitle }}</td>
                                        <td>{{ convention.client.name }}</td>
                                        <td>{{ convention.estimatedAmount }}</td>
                                        <td>{{ convention.invoiceAmount }}</td>
                                        <td>{{ convention.signatureDate ? convention.signatureDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ convention.workStartDate ? convention.workStartDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ convention.workEndDate ? convention.workEndDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td class="hidden-480">
                                            <span class="label label-sm label-danger">Non validé</span>
                                        </td>

                                        <td>
                                            <a class="blue"
                                               href="{{ path('convention_show', {'id': convention.id}) }}">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="14">Liste vide!</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer no-margin-top">
                            <ul class="pagination pull-right no-margin">
                                <li class="prev disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li class="next disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->


            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInpute").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#hello tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#myInpute2").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#hello2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#myInpute3").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#hello3 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}