{% extends 'base.html.twig' %}

{% block title %}Modifier convention{% endblock %}

{% block body %}

    {{ include('convention/_form.html.twig', {'title': 'Modifer convention','button_label': 'Enregistrer'}) }}
{% endblock %}
