{% extends 'base.html.twig' %}

{% block title %}Modifier convention{% endblock %}

{% block body %}

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Accueil</a>
                    </li>
                    <li class="active">Convention</li>
                </ul><!-- /.breadcrumb -->
            </div>
            <div class="page-content">
                <div class="page-header">
                    <h1>Mettre convention payé</h1>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn">Confirmer</button>
                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ path('convention_index_validatedAndPayedAndNotPayed') }}">Retour</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
