{# {{ form_start(form) }} #}
{# {{ form_widget(form) }} #}
{# <button class="btn">{{ button_label|default('Save') }}</button> #}
{# {{ form_end(form) }} #}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Accueil</a>
                </li>
                <li class="active">{{ type|default('Remarque') }}</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <h1>{{ title|default('Ajouter une remarque') }} :
                    {% if(note.contract) %}
                        {{ note.contract.reference }}
                    {% else %}
                        {{ note.convention.projectTitle }}
                    {% endif %}
                </h1>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Ajouter') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-round" href="{{ app.request.headers.get('referer') }}">Retour</a>
                </div>
            </div>


        </div>
    </div>
</div>
