{% extends 'base.html.twig' %}

{% block title %}Modifier remarque{% endblock %}

{% block body %}

    {{ include('note/_form.html.twig', {'title': 'Modifier une remarque de contrat','button_label': 'Enregistrer'}) }}
{% endblock %}
