{% extends 'base.html.twig' %}

{% block title %}Ajouter une remarque{% endblock %}

{% block body %}

    {{ include('note/_form.html.twig', {'title': 'Ajouter une remarque au contrat','type': 'Contrat'}) }}
{% endblock %}
