{% extends 'base.html.twig' %}

{% block title %}Ajouter une remarque{% endblock %}

{% block body %}

    {{ include('note/_form.html.twig', {'title': 'Ajouter une remarque à la convention','type': 'Convention'}) }}
{% endblock %}
