{% extends 'base.html.twig' %}

{% block title %}Refuser contrat{% endblock %}

{% block body %}

    {{ include('note/_form.html.twig', {'title': 'Refuser le contrat','type': 'Contrat', 'button_label' : 'Confirmer'}) }}
{% endblock %}
