{% extends 'base.html.twig' %}

{% block title %}Refuser convention{% endblock %}

{% block body %}

    {{ include('note/_form.html.twig', {'title': 'Refuser la convention','type': 'Convention', 'button_label' : 'Confirmer'}) }}
{% endblock %}
