{% extends 'base.html.twig' %}

{% block title %}Valider contrat{% endblock %}

{% block body %}

    {{ include('note/_form.html.twig', {'title': 'Valider le contrat','type': 'Contrat', 'button_label' : 'Valider'}) }}
{% endblock %}
