{% extends 'base.html.twig' %}

{% block title %}Valider convention{% endblock %}

{% block body %}

    {{ include('note/_form.html.twig', {'title': 'Valider la convention','type': 'Convention', 'button_label' : 'Valider'}) }}
{% endblock %}
