{% extends 'base.html.twig' %}

{% block title %}Modifier client{% endblock %}

{% block body %}

    {{ include('client/_form.html.twig', {'title': 'Modifer client','button_label': 'Enregistrer'}) }}
{% endblock %}
