{# <form method="post" action="{{ path('department_delete', {'id': department.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');"> #}
{# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.id) }}"> #}
{# <button class="btn">Delete</button> #}
{# </form> #}

<form method="post" action="{{ path('department_delete', {'id': department.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.id) }}">
    <a class="red">
        <button style="border: none; background: none;">
            <i class="ace-icon fa fa-trash-o bigger-130"></i>
        </button>
    </a>
</form>
