<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Accueil</a>
                </li>
                <li class="active">Directions</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <h1>{{ title|default('Département') }}</h1>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Ajouter') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('department_index') }}">Retour</a>
                </div>
            </div>


        </div>
    </div>
</div>
