{% extends 'base.html.twig' %}

{% block title %}Modifier direction{% endblock %}

{% block body %}

    {{ include('department/_form.html.twig', {'title': 'Modifer direction','button_label': 'Enregistrer'}) }}
{% endblock %}
