{% extends 'base.html.twig' %}

{% block title %} Directions {% endblock %}

{# {% block body %} #}
{# <h1>Department index</h1> #}

{# <table class="table"> #}
{# <thead> #}
{# <tr> #}
{# <th>Id</th> #}
{# <th>Code</th> #}
{# <th>Name</th> #}
{# <th>actions</th> #}
{# </tr> #}
{# </thead> #}
{# <tbody> #}
{# {% for department in departments %} #}
{# <tr> #}
{# <td>{{ department.id }}</td> #}
{# <td>{{ department.code }}</td> #}
{# <td>{{ department.name }}</td> #}
{# <td> #}
{# <a href="{{ path('department_show', {'id': department.id}) }}">show</a> #}
{# <a href="{{ path('department_edit', {'id': department.id}) }}">edit</a> #}
{# </td> #}
{# </tr> #}
{# {% else %} #}
{# <tr> #}
{# <td colspan="4">no records found</td> #}
{# </tr> #}
{# {% endfor %} #}
{# </tbody> #}
{# </table> #}

{# <a href="{{ path('department_new') }}">Create new</a> #}
{# {% endblock %} #}


{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="{{ path('user_index') }}">Accueil</a>
                    </li>
                    <li class="active">Directions</li>
                </ul><!-- /.breadcrumb -->
            </div>
            <br>
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Directions
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </small>
                        Liste
                    </h1>
                    <br>
                    <a class="btn btn-danger" href="{{ path('department_new') }}">Ajouter</a>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">

                        <form class="form-search">
                                <span class="input-icon">
                                    <input class="form-control" id="myInpute" type="text" id="navbar-search-input"
                                           placeholder="Rechercher" aria-label="search" aria-describedby="search">
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                        </form>
                        <div>
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>Id</th>
                                    <th>Code départemental</th>
                                    <th>Nom</th>
                                    <th></th>

                                </tr>
                                </thead>

                                <tbody id="hello">
                                {% for department in departments %}
                                    <tr>
                                        <td>{{ department.id }}</td>
                                        <td>{{ department.code }}</td>
                                        <td>{{ department.name }}</td>

                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">

                                                <table>
                                                    <tr>
                                                        {# <td> #}
                                                        {# <a class="blue" #}
                                                        {# href="{{ path('department_show', {'id': department.id}) }}"> #}
                                                        {# <i class="ace-icon fa fa-eye bigger-130"></i> #}
                                                        {# </a> #}
                                                        {# </td> #}
                                                        {% if((not(department.id == 1)) and (not(department.id == 2)) and (not(department.id == 3))) %}
                                                        <td>
                                                            <a class="green"
                                                               href="{{ path('department_edit', {'id': department.id}) }}">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>
                                                        </td>
                                                        {% endif %}
                                                        {% if((not(department.id == 1)) and (not(department.id == 2)) and (not(department.id == 3))) %}
                                                            <td>
                                                                {{ include('department/_delete_form.html.twig') }}
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                </table>


                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="14">Liste vide!</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $("#myInpute").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#hello tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>
                        <div class="modal-footer no-margin-top">


                            <ul class="pagination pull-right no-margin">
                                <li class="prev disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="#">1</a>
                                </li>

                                <li class="next disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->


        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->


{% endblock %}
