{# {{ form_start(form) }} #}
{# {{ form_widget(form) }} #}
{# <button class="btn">{{ button_label|default('Save') }}</button> #}
{# {{ form_end(form) }} #}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="{{ path('contract_index_createdAndNotValidated') }}">Accueil</a>
                </li>
                <li class="active">Contrats</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <h1>{{ title|default('Contrat') }}</h1>
            </div>

            {% for message in app.flashes('error') %}
                <p class="red">{{ message }}</p>
            {% endfor %}

            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Ajouter') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('contract_index_createdAndNotValidated') }}">Retour</a>
                </div>
            </div>


        </div>
    </div>
</div>

