{% extends 'base.html.twig' %}

{% block title %}Modifier contrat{% endblock %}

{% block body %}

    {{ include('contract/_form.html.twig', {'title': 'Modifer contrat','button_label': 'Enregistrer'}) }}
{% endblock %}
