{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="{{ path('user_index') }}">Accueil</a>
                    </li>
                    <li class="active">Contrats</li>
                </ul><!-- /.breadcrumb -->
            </div>
            <br>
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Contrats
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </small>
                        Liste
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">

                        <form class="form-search">
                                <span class="input-icon">
                                    <input class="form-control navbar-search-input" id="myInpute2" type="text"
                                           placeholder="Rechercher" aria-label="search" aria-describedby="search">
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                        </form>
                        <div>
                            <table id="dynamic-table2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>Référence</th>
                                    <th>Référence marché</th>
                                    <th>Fournisseur</th>
                                    <th>Objet</th>
                                    <th>Montant (Dt)</th>
                                    <th>Durée (Jours)</th>
                                    <th>Entrée en vigueur</th>
                                    <th>Fin de contrat</th>
                                    <th>Mise en demeure</th>
                                    <th>État</th>
                                    <th>Paiement</th>
                                    <th></th>

                                </tr>
                                </thead>

                                <tbody id="hello2">
                                {% for contract in contracts %}
                                    <tr>
                                        <td>{{ contract.reference }}</td>
                                        <td>{{ contract.marketReference }}</td>
                                        <td>{{ contract.provider.name }}</td>
                                        <td>{{ contract.object }}</td>
                                        <td>{{ contract.amount }}</td>
                                        <td>{{ contract.duration }}</td>
                                        <td>{{ contract.startDate ? contract.startDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ contract.endDate ? contract.endDate|date('d-m-Y H:i:s') : '' }}</td>
                                        <td>{{ contract.formalNotice }}</td>
                                        <td class="hidden-480">
                                            {% if(contract.currentState == 'CREATED') %}
                                                <span class="label label-sm label-info">En attente</span>
                                            {% elseif(contract.currentState == 'VALIDATED') %}
                                                <span class="label label-sm label-success">Validé</span>
                                            {% elseif(contract.currentState == 'NOT_VALIDATED') %}
                                                <span class="label label-sm label-danger">Non validé</span>
                                            {% elseif(contract.currentState == 'PAYED') %}
                                                <span class="label label-sm label-grey">Payé</span>
                                            {% else %}
                                                <span class="label label-sm label-warning">Non payé</span>
                                            {% endif %}
                                        </td>
                                        <td class="hidden-480">
                                            {% if(contract.paymentType) %}
                                                {{ contract.paymentType == 'CASH' ? 'Espèce' : 'Par chèque' }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a class="blue"
                                               href="{{ path('contract_show', {'id': contract.id}) }}">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="14">Liste vide!</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer no-margin-top">
                            <ul class="pagination pull-right no-margin">
                                <li class="prev disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li class="next disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->


            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInpute2").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#hello2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}