{% extends 'base.html.twig' %}

{% block title %}Contract{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Accueil</a>
                    </li>
                    <li class="active">Contrat</li>
                </ul><!-- /.breadcrumb -->
            </div>
            <br>
            <div class="page-content">
                <div class="page-header">

                    <div class="row">
                        <div class="col-xs-12">
                            <h1> Contrat : {{ contract.reference }} </h1>
                        </div>
                    </div>
                    {% if (canReviewed or canValidated or canPayed) %}
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                {% if (canReviewed) %}
                                    <a class="btn btn-sm btn-round btn-grey"
                                       href="{{ path('note_new_contract', {'id': contract.id}) }}">Ajouter une
                                        remarque</a>
                                {% endif %}
                                {% if (canValidated) %}
                                    <a class="btn btn-sm btn-round btn-success"
                                       href="{{ path('note_validate_contract', {'id': contract.id}) }}">Valider</a>
                                    <a class="btn btn-sm btn-round btn-danger"
                                       href="{{ path('note_refuse_contract', {'id': contract.id}) }}">Refuser</a>
                                {% endif %}
                                {% if (canPayed) %}
                                    <a class="btn btn-sm btn-round btn-info"
                                       href="{{ path('contract_edit_status_payed', {'id': contract.id}) }}">Mettre
                                        Payé</a>
                                    <a class="btn btn-sm btn-round btn-danger"
                                       href="{{ path('contract_edit_status_not_payed', {'id': contract.id}) }}">Mettre
                                        Non payé</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 30%">État</th>
                                <td>
                                    {% if(contract.currentState == 'CREATED') %}
                                        <span class="label label-sm label-info">En attente</span>
                                    {% elseif(contract.currentState == 'VALIDATED') %}
                                        <span class="label label-sm label-success">Validé</span>
                                    {% elseif(contract.currentState == 'NOT_VALIDATED') %}
                                        <span class="label label-sm label-danger">Non validé</span>
                                    {% elseif(contract.currentState == 'PAYED') %}
                                        <span class="label label-sm label-grey">Payé</span>
                                    {% else %}
                                        <span class="label label-sm label-warning">Non payé</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Référence</th>
                                <td>{{ contract.reference }}</td>
                            </tr>
                            <tr>
                                <th>Référence marché</th>
                                <td>{{ contract.marketReference }}</td>
                            </tr>
                            <tr>
                                <th>Objet</th>
                                <td>{{ contract.object }}</td>
                            </tr>
                            <tr>
                                <th>Fournisseur</th>
                                <td>{{ contract.provider.name }} - {{ contract.provider.email }}</td>
                            </tr>
                            <tr>
                                <th>Entrée en vigueur</th>
                                <td>{{ contract.startDate ? contract.startDate|date('d-m-Y H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Fin de contrat</th>
                                <td>{{ contract.endDate ? contract.endDate|date('d-m-Y H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Durée</th>
                                <td>{{ contract.duration }} jours</td>
                            </tr>
                            <tr>
                                <th>Montant</th>
                                <td>{{ contract.amount }} Dt</td>
                            </tr>
                            <tr>
                                <th>Mise en demeure</th>
                                <td>{{ contract.formalNotice }}</td>
                            </tr>
                            <tr>
                                <th>Paiment</th>
                                <td>
                                    {% if(contract.paymentType) %}
                                        {{ contract.paymentType == 'CASH' ? 'Espèce' : 'Par chèque' }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Renouvelable</th>
                                <td>{{ contract.renewable ? 'Oui' : 'Non' }}</td>
                            </tr>
                            <tr>
                                <th>Directions</th>
                                <td>
                                    {% for direction in contract.availableDepartmentsToAddReviews %}
                                        <p>{{ direction.name }}</p>
                                    {% else %}
                                        <p>-</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Pièce jointes</th>
                                <td>
                                    <table>
                                        {% for file in contract.files %}
                                            <tr>
                                                <td style="width: 55%">{{ file.name }}</td>
                                                <td style="width: 20%">
                                                    <a href="{{ asset('uploads/files/' ~ file.newPath) }}"
                                                       target="_blank">Voir</a>
                                                </td>
                                                <td style="width: 25%">
                                                    <a href="{{ asset('uploads/files/' ~ file.newPath) }}"
                                                       target="_blank"
                                                       download="{{ file.name }}">Télécharger</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>-</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- NOTES -->
                <div class="row">
                    <div class="col-xs-12">
                        <h1> Remarques </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="historic" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Utilisateur</th>
                                <th>Direction</th>
                                <th>Commentaire</th>
                                <th>Pièce jointes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for note in contract.notes %}
                                <tr>
                                    <td>{{ note.date ? note.date|date('d-m-Y H:i:s') : '' }}</td>
                                    <td>{{ note.user.firstName }} {{ note.user.lastName }}
                                        - {{ note.user.email }}</td>
                                    <td>{{ note.user.department.name }}</td>
                                    <td>{{ note.comment }}</td>
                                    <td>
                                        <table>
                                            {% for file in note.files %}
                                                <tr>
                                                    <td style="width: 55%">{{ file.name }}</td>
                                                    <td style="width: 20%">
                                                        <a href="{{ asset('uploads/files/' ~ file.newPath) }}"
                                                           target="_blank">Voir</a>
                                                    </td>
                                                    <td style="width: 25%">
                                                        <a href="{{ asset('uploads/files/' ~ file.newPath) }}"
                                                           target="_blank"
                                                           download="{{ file.name }}">Télécharger</a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>-</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="14">Liste vide!</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /NOTES -->

                <!-- HISTORIC -->
                <div class="row">
                    <div class="col-xs-12">
                        <h1> Historique </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="historic" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Utilisateur</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for state in contract.states %}
                                <tr>
                                    <td>{{ state.date ? state.date|date('d-m-Y H:i:s') : '' }}</td>
                                    <td>{{ state.user.firstName }} {{ state.user.lastName }}
                                        - {{ state.user.email }}</td>
                                    <td>
                                        {% if(state.type == 'CREATED') %}
                                            Création
                                        {% elseif(state.type == 'VALIDATED') %}
                                            Validation
                                        {% elseif(state.type == 'NOT_VALIDATED') %}
                                            Refus
                                        {% elseif(state.type == 'PAYED') %}
                                            Mettre payé
                                        {% else %}
                                            Mettre non payé
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="14">Liste vide!</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /HISTORIC -->

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-round" href="{{ app.request.headers.get('referer') }}">Retour</a>
                    </div>
                </div>


            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->

{% endblock %}