{% extends 'base.html.twig' %}

{% block title %}Modifier fournisseur{% endblock %}

{% block body %}

    {{ include('provider/_form.html.twig', {'title': 'Modifer fournisseur','button_label': 'Enregistrer'}) }}
{% endblock %}
