<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                <small>
                    <i class="fa fa-folder-open"></i>
                    Gestion des contrats de CNI
                </small>
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
{#                <li class="purple dropdown-modal">#}
{#                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">#}
{#                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>#}
{#                        <span class="badge badge-important"></span>#}
{#                    </a>#}

{#                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">#}
{#                        <li class="dropdown-header">#}
{#                            <i class="ace-icon fa fa-exclamation-triangle"></i>#}
{#                            Notifications#}
{#                        </li>#}

{#                        <li class="dropdown-content">#}
{#                            <ul class="dropdown-menu dropdown-navbar navbar-pink">#}
{#                                {% if notifs|length > 0 %}#}
{#                                    {% for notifs in notifs %}#}
{#                                        <li>#}
{#                                            <a href="#">#}
{#                                                <div class="clearfix">#}
{#                                                    <span class="pull-left">#}
{#                                                        <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>#}
{#                                                        {{ notifs.name }}#}
{#                                                    </span>#}
{#                                                    <span class="pull-right badge badge-info">+12</span>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    {% endfor %}#}
{#                                {% else %}#}
{#                                    <li>you dont have notifications</li>#}
{#                                {% endif %}#}
{#                            </ul>#}
{#                        </li>#}

{#                        <li class="dropdown-footer">#}
{#                            <a href="#">#}
{#                                See all notifications#}
{#                                <i class="ace-icon fa fa-arrow-right"></i>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}


                <li class="red">
                    <a class="dropdown-toggle" href="{{ path('app_logout') }}">
                        <i class="ace-icon fa fa-external-link"></i>
                        Déconnexion
                    </a>
                </li>

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img src="https://d7ieeqxtzpkza.cloudfront.net/wp-content/uploads/2019/02/logo-tranparent-cni1.png"
                             alt="logo CNI" height="45" width="80"/>
                        <span class="user-info">
                                    <small>Bienvenue,</small>
                                    {{ app.user.firstName }}
                                </span>

                    </a>

                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>