<div id="sidebar" class="sidebar responsiveb ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">


        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">

        </div>
    </div><!-- /.sidebar-shortcuts -->


    <ul class="nav nav-list">

        {% if is_granted('ROLE_ADMIN') %}
            <li class="">
                <a href="{{ path('user_index') }}">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text">Utilisateurs</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{ path('department_index') }}">
                    <i class="menu-icon fa fa-building" aria-hidden="true"></i>
                    <span class="menu-text">Directions</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{ path('contract_index') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Contrats</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{ path('convention_index') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Conventions</span>
                </a>
                <b class="arrow"></b>
            </li>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <li class="">
                <a href="{{ path('contract_index_created') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Contrats</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{ path('convention_index_created') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Conventions</span>
                </a>
                <b class="arrow"></b>
            </li>
        {% endif %}

        {% if is_granted('ROLE_DBM') %}
            <li class="">
                <a href="{{ path('contract_index_createdAndNotValidated') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Contrats</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{ path('provider_index') }}">
                    <i class="menu-icon fa fa-user" aria-hidden="true"></i>
                    <span class="menu-text">Fournisseurs</span>
                </a>
                <b class="arrow"></b>
            </li>
        {% endif %}

        {% if is_granted('ROLE_DC') %}
            <li class="">
                <a href="{{ path('convention_index_createdAndNotValidated') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Conventions</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{ path('client_index') }}">
                    <i class="menu-icon fa fa-user" aria-hidden="true"></i>
                    <span class="menu-text">Clients</span>
                </a>
                <b class="arrow"></b>
            </li>
        {% endif %}

        {% if is_granted('ROLE_DF') %}
            <li class="">
                <a href="{{ path('contract_index_validatedAndPayedAndNotPayed') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Contrats</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{ path('convention_index_validatedAndPayedAndNotPayed') }}">
                    <i class="menu-icon fa fa-list" aria-hidden="true"></i>
                    <span class="menu-text">Conventions</span>
                </a>
                <b class="arrow"></b>
            </li>
        {% endif %}

    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>