{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig', {'title': 'Modifer utilisateur','button_label': 'Enregistrer'}) }}
{% endblock %}
