{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{# {% block body %} #}
{# <h1>User index</h1> #}

{# <table class="table"> #}
{# <thead> #}
{# <tr> #}
{# <th>Id</th> #}
{# <th>Email</th> #}
{# <th>Roles</th> #}
{# <th>Password</th> #}
{# <th>FirstName</th> #}
{# <th>LastName</th> #}
{# <th>PhoneNumber</th> #}
{# <th>IsBlocked</th> #}
{# <th>actions</th> #}
{# </tr> #}
{# </thead> #}
{# <tbody> #}
{# {% for user in users %} #}
{# <tr> #}
{# <td>{{ user.id }}</td> #}
{# <td>{{ user.email }}</td> #}
{# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
{# <td>{{ user.password }}</td> #}
{# <td>{{ user.firstName }}</td> #}
{# <td>{{ user.lastName }}</td> #}
{# <td>{{ user.phoneNumber }}</td> #}
{# <td>{{ user.isBlocked ? 'Yes' : 'No' }}</td> #}
{# <td> #}
{# <a href="{{ path('user_show', {'id': user.id}) }}">show</a> #}
{# <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a> #}
{# </td> #}
{# </tr> #}
{# {% else %} #}
{# <tr> #}
{# <td colspan="9">no records found</td> #}
{# </tr> #}
{# {% endfor %} #}
{# </tbody> #}
{# </table> #}

{# <a href="{{ path('user_new') }}">Create new</a> #}
{# {% endblock %} #}

{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="{{ path('user_index') }}">Accueil</a>
                    </li>
                    <li class="active">Utilisateurs</li>
                </ul><!-- /.breadcrumb -->
            </div>
            <br>
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Utilisateurs
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </small>
                        Liste
                    </h1>
                    <br>
                    <a class="btn btn-danger" href="{{ path('user_new') }}">Ajouter</a>
                </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">

                                <form class="form-search">
                                <span class="input-icon">
                                    <input class="form-control navbar-search-input" id="myInpute" type="text"
                                           placeholder="Rechercher" aria-label="search" aria-describedby="search">
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                                </form>
                                <div>
                                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>

                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                            <th>Département</th>
                                            <th>Roles</th>
                                            <th>Etat</th>
                                            <th></th>

                                        </tr>
                                        </thead>

                                        <tbody id="hello">
                                        {% for user in users %}
                                            <tr>
                                                <td>{{ user.firstName }}</td>
                                                <td>{{ user.lastName }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.phoneNumber }}</td>
                                                <td>{{ user.department ? user.department.name : '-' }}</td>
                                                <td>{{ user.roles ? user.roles[0] : '-' }}</td>
                                                <td class="hidden-480">
                                                    {% if(user.isBlocked) %}
                                                        <span class="label label-sm label-danger">Bloqué</span>
                                                    {% else %}
                                                        <span class="label label-sm label-success">Activé</span>
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    <div class="hidden-sm hidden-xs action-buttons">
                                                        {% if(not(user.roles[0] == 'ROLE_SUPER_ADMIN')) %}
                                                        <a class="green"
                                                           href="{{ path('user_edit', {'id': user.id}) }}">
                                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                        </a>
                                                        {% endif %}
                                                        {% if((not(user.id == app.user.id)) and (not(user.roles[0] == 'ROLE_SUPER_ADMIN'))) %}
                                                            <a class="{{ user.isBlocked ? 'blue' : 'red' }}"
                                                               href="{{ path('user_block', {'id': user.id}) }}">
                                                                {% if(user.isBlocked) %}
                                                                    <i class="ace-icon fa fa-unlock"></i>
                                                                {% else %}
                                                                    <i class="ace-icon fa fa-lock"></i>
                                                                {% endif %}
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="14">Liste vide!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                                <script>
                                    $(document).ready(function () {
                                        $("#myInpute").on("keyup", function () {
                                            var value = $(this).val().toLowerCase();
                                            $("#hello tr").filter(function () {
                                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                            });
                                        });
                                    });
                                </script>
                                <div class="modal-footer no-margin-top">


                                    <ul class="pagination pull-right no-margin">
                                        <li class="prev disabled">
                                            <a href="#">
                                                <i class="ace-icon fa fa-angle-double-left"></i>
                                            </a>
                                        </li>

                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>

                                        <li class="next disabled">
                                            <a href="#">
                                                <i class="ace-icon fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->


                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->

{% endblock %}

